
header{
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
}

table, td, th{
    border: 1px solid grey;
    border-collapse: collapse;
}

/* > son los hijitos de */
thead > tr> th{
    padding: 1em;
}

/* pseudoclases */
thead > tr > th:first-child{
    background-color: #ddd;
}

thead > tr> th {
    background-color: #eee;
}

table > tbody > tr:last-child > td {
    padding: 1em;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/* todos los td menos el primero*/
td:not(:first-child) {
    text-align: center;
}